<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">
    <!--    검색화면 추가-->

    <div class="row mt-3">
        <div class="col">
            <!--        카드 시작 부분-->
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">검색 및 필터 </h5>
                    <form action="/todo/list" method="get">
                        <input type="hidden" name="size" value="${pageRequestDTO.size}">
                        <div class="mb-3">
                            <input type="checkbox" name="finished2" ${pageRequestDTO.finished2 ?"checked":""}> 완료여부
                        </div>
                        <div class="mb-3">
                            <input type="checkbox" name="types" value="t" ${pageRequestDTO.checkType("t")?"checked":""}>제목
                            <input type="checkbox" name="types" value="w" ${pageRequestDTO.checkType("w")?"checked":""}>작성자
                            <input type="text" name="keyword" class="form-control" value="${pageRequestDTO.keyword}">
                        </div>
                        <div class="input-group mb-3 dueDateDiv">
                            <input type="date" name="from" class="form-control" value="${pageRequestDTO.from}">
                            <input type="date" name="to" class="form-control" value="${pageRequestDTO.to}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="float-end">
                                <button class="btn btn-primary" type="submit">검색</button>
                                <button class="btn btn-secondary clearBtn" type="reset">초기화</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--        카드 끝 부분-->

        </div>

    </div>
    <!--    검색화면 추가-->

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board List
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Board List
                    </h5>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Bno</th>
                            <th scope="col">Title</th>
                            <th scope="col">Writer</th>
                            <th scope="col">RegDate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <th scope="row">
                                [[${dto.bno}]]
                            </th>
                            <td>[[${dto.title}]]</td>
                            <td>[[${dto.writer}]]</td>
                            <td>[[${#temporals.format(dto.regDate,'yyyy-MM-dd HH:mm:ss')}]]</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--페이징-->
                    <div class="float-end">
                        <ul class="pagination flex-wrap">
                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
                            </li>

                            <!--                            페이지 번호 표시, 10개 임의로 표기-->
                            <th:block th:each="i:${#numbers.sequence(responseDTO.start,responseDTO.end)}">

                                <li th:class="${responseDTO.page == i }?'page-item active':'page-item'">
                                    <a class="page-link" data-num="${i}" href="#">[[${i}]]</a></li>
                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
                            </li>
                        </ul>
                    </div>
                    <!--페이징-->

                </div>

            </div>
        </div>

    </div>


</div>
<!--끝 나는 부분 layout:fragment="content"-->


<!--자바스크립트 추가하는 영역-->
<script layout:fragment="javascript" th:inline="javascript">


</script>

</body>
</html>