<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>ex1 기본 타임리프 문법 체크, 출력 </h1>
<!--  /* th:text="${list}" */-->
  <h2 th:text="${list}"></h2>
  <hr/>
<!--  /* [[${list}]] */-->
  <h2>[[${list}]]</h2>

<h1>변수 사용해서, 이용하기. </h1>
<div th:with="num1 = ${10}, num2 = ${20}">
    우리가 만든 변수 사용해보기 : <h2 th:text="${num1 + num2}"> </h2>
    다른 방법으로 출력해보기(자바스크립 영역안에서도 이용가능)
    : <h2>[[${num1 + num2}]]</h2>
</div>

  <hr/>
<!--  <th:each="변수명 : 목록">-->
  <h1>반복문 이용해보기. </h1>
  <div>
      <ul>
          <li th:each="str : ${list}" th:text="${str}"></li>
      </ul>
      <ul>
          <li th:each="str : ${list}">[[${str}]]</li>
      </ul>
      <ul>
          <th:block th:each="str : ${list}" >
              <li> [[${str}]] </li>
          </th:block >
      </ul>

      <ul>
          <li th:each="str , status: ${list}" >
              [[${status.index}]]  -- [[${status.odd}]] --[[${status.even}]]  [[${str}]]
          </li>
      </ul>
  </div>

<script>
    const list = `[[${list}]]`
    console.log(list)
</script>
</body>
</html>